main {
  padding: 36px 28px 60px;
}

@media only screen and (min-width: 992px) {
  .homepage_container {
    display: flex;
  }

  .right-section {
    width: 80%;
    margin-left: auto;
  }
  main {
    padding-left: 212px;
  }
}

@media only screen and (max-width: 992px) {
}
