.stack-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.display__item {
  /* position: relative; */
}

.portfolio__item-stack {
  background: #4f5461;
  border-radius: 40px;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #e6e9f0;
  font-family: "Poppins", sans-serif;
  margin: 5px 5px;
}

.overall-btn {
  background: #4456fb;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 476px;
  padding: 20px 5px;
  margin: 16px auto 32px;
}

.overall-btn > a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 105.3%;
  text-align: center;
  color: #ffffff;
}
