.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
  left: 0;
  position: absolute;
  padding: 1rem;
}

.navbar_logo {
  margin-left: 25px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #4456fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_logo > a {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 1000;
  font-size: 20px;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  height: 32px;
  align-items: center;
  flex-wrap: wrap;
}

.navlinks > li {
  margin: 0 1rem;
}

.navlinks > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  font-family: 'Sora', sans-serif;
}

.nav-active {
  background-color: #4456fb;
  border-radius: 40px;
  padding: 10px 20px;
  margin-left: -4px !important;
}

.navlinks_item {
  transition: all 0.3s ease-in-out;
}

.navlinks_item:hover {
  transform: scale(1.1);
  font-size: bolder;
}

.nav-active > a {
  color: #4456fb;
}

@media only screen and (min-width: 992px) {
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 99vh;
    width: 20%;
    top: -1;
    background: none;
  }
  .nav-active {
    background: #e8effa;
  }

  .navbar_logo {
    margin-left: 0 !important;
  }

  .navlinks {
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
    align-items: flex-start;
  }

  .navlinks > li {
    /* margin: 0 1rem; */
    margin-top: 1.5rem;
  }
  .navlinks > li > a {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #4f5461;
    cursor: pointer;
  }
}

.none {
  display: none !important;
}

.hamburger-wrapper {
  display: none;
}

@media (min-width: 599px) {
  #navlinks-sm {
    display: none;
  }
}

@media (max-width: 599px) {
  #navlinks {
    display: none;
  }
  #navlinks-sm {
    display: flex;
    height: auto;
    position: absolute;
    top: 0;
    flex-direction: column;
    padding-right: 0.5rem;
    background-color: white;
    border-radius: 0 100px 0;
    width: 90% !important;
    margin: auto;
    padding: 2rem 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  #navlinks-sm > li {
    margin: 0.7rem !important;
  }

  #navlinks-sm > li > a {
    color: black;
  }

  .nav-close {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    color: red;
  }
  .nav-close > i {
    font-size: 18px;
  }
  .navbar_logo {
    margin-left: 0;
  }
  .hamburger-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 1rem;
    height: 1rem;
  }
}

.ham-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger div {
  width: 50px;
  margin: 2px;
  position: relative;
}
.bread-top {
  height: 13px;
  background-color: #ed9b2d;
  border-radius: 45px 45px 5px 5px;
  animation: anim-bread-top 2s;
}
.vegetables {
  height: 2px;
  background-color: #50c244;
  border-radius: 5px;
  animation: anim-vegetables 2s;
}
.tomato {
  height: 5px;
  background-color: #c81a1f;
  border-radius: 10px;
  animation: anim-tomato 2s;
}
.cheese {
  height: 2px;
  background-color: #eecf45;
  border-radius: 5px;
  animation: anim-cheese 2s;
}
.meat {
  height: 4px;
  background-color: #6c1f03;
  border-radius: 15px;
  animation: anim-meat 2s;
}
.bread-bottom {
  height: 6px;
  background-color: #ed9b2d;
  border-radius: 5px 5px 18px 18px;
  animation: anim-bread-bottom 2s;
}

@keyframes anim-bread-bottom {
  0% {
    top: -360px;
  }
  10% {
    top: 0;
  }
  13% {
    top: -10px;
  }
  16%,
  100% {
    top: 0;
  }
}
@keyframes anim-meat {
  0%,
  16% {
    top: -340px;
  }
  26% {
    top: 0;
  }
  29% {
    top: -10px;
  }
  32%,
  100% {
    top: 0;
  }
}
@keyframes anim-cheese {
  0%,
  32% {
    top: -320px;
  }
  42% {
    top: 0;
  }
  45% {
    top: -10px;
  }
  48%,
  100% {
    top: 0;
  }
}
@keyframes anim-tomato {
  0%,
  48% {
    top: -310px;
  }
  58% {
    top: 0;
  }
  61% {
    top: -10px;
  }
  64%,
  100% {
    top: 0;
  }
}
@keyframes anim-vegetables {
  0%,
  64% {
    top: -300px;
  }
  74% {
    top: 0;
  }
  77% {
    top: -10px;
  }
  80%,
  100% {
    top: 0;
  }
}
@keyframes anim-bread-top {
  0%,
  80% {
    top: -290px;
  }
  90% {
    top: 0;
  }
  93% {
    top: -10px;
  }
  97%,
  100% {
    top: 0;
  }
}
