@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Sora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.section_title {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 105.3%;
  color: #4f5461;
  margin-bottom: 30px;
}

.overall-btn > a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 105.3%;
  text-align: center;
  color: #ffffff;
}

.stack-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.portfolio__item-stack {
  background: #4f5461;
  border-radius: 40px;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #e6e9f0;
  font-family: "Poppins", sans-serif;
  margin: 5px 5px;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
